# Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.log
logs/
*.log
debug.log
error.log
trace.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Build artifacts
dist/
build/

# Temporary files
tmp/
temp/
*.swp
*.swo

# Editor & OS specific files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-workspace

# Debugging
coverage/
nyc_output/
*.pid
*.seed
*.pid.lock

# Database files
*.sqlite
*.sqlite-journal
*.db
*.db-wal
*.db-shm
dump.rdb
*.psql

# Misc
public/uploads/
public/tmp/
